$maincolor: rgb(96, 13, 134);
$secondcolor: rgb(166, 62, 235);
$thirdcolor: rgb(208, 147, 248);
$gray: rgb(70, 70, 70);
.container {
  width: 100%;
  background: url(../images/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 0%;
  .nav {
    width: 100%;
    height: 80px;
    background: $maincolor;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    .inner {
      width: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      .title_text {
        font-size: 18px;
        font-family: "Press Start 2P", cursive;
        margin-right: 35%;
      }
      .change_lang {
        p {
          padding: 5px 10px;
          background: $secondcolor;
          transition: 0.2s all ease-in;
          cursor: pointer;
          &:hover {
            background: $thirdcolor;
          }
          &:nth-child(1) {
            margin-bottom: 5px;
          }
        }
      }
      .search {
        display: flex;
        align-items: center;
        margin-right: 30px;
        input {
          height: 24px;
          border: $secondcolor 5px solid;
          border-radius: 24px;
          &:focus {
            outline: none;
            border: $thirdcolor 5px solid;
          }
        }
        i {
          margin-left: 10px;
          font-size: 28px;
          cursor: pointer;
        }
      }
    }
  }
  .row {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // width: 1200px;
    .btn {
      width: 200px;
      height: 50px;
      color: white;
      margin: 70px;
      font-size: 30px;
      line-height: 50px;
      text-align: center;
      background-color: $gray;
      transition: 0.2s all ease-in;
      cursor: pointer;
      &:hover {
        background-color: $thirdcolor;
      }
    }
  }
  .col-4 {
    box-sizing: border-box;
    width: 280px;
    height: 250px;
    margin: 10px;
    transition: 0.2s all ease-in;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      filter: brightness(150%);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.644);
      transform: scale(1.01);
    }
  }
  .video {
    width: 100%;
    height: 70%;
    position: relative;
    overflow: hidden;
    img {
      width: 280px;
      height: 230px;
      display: block;
      position: absolute;
      top: 0%;
      left: 0;
      opacity: 0;
      transition: 0.2s all ease-in;
      &:first-child {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 1;
      }
    }
  }
  .detail {
    height: 30%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: $maincolor;
    opacity: 0.7;
    &_person {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin: 10px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: 0.2s all ease-in;
        &:first-child {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
          opacity: 1;
        }
      }
    }
    &_title {
      width: 80%;
      font-size: 16px;
      margin-left: 15px;
      color: white;
    }
  }
}
